<div class="container">
    <div class="row">
        <nav class="navbar navbar-light bg-dark">
            <div class="container-fluid">
                <div class="col">
              <div class="row">
                <div class="col-3 text-white h3">Angular Spotify Music</div>
                <div class="col-6">
                    <input class="form-control me-2" type="text" placeholder="Search"  [(ngModel)]="search" (keyup)="loadData()">
                </div>
                
              </div>
            </div>
            </div>
          </nav>
            <div class="card" style="width: 15rem;" *ngFor="let art of artist" routerLink="/artists/{{art.id}}">
                <img src="{{art?.images[0]?.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    <a class="btn"><h5>{{art.name}}</h5></a>
                  </h5>
                  <p class="card-text">theo dõi: {{art.followers.total | number}}</p>
                  <ul>Thể loại nhạc 
                    <li *ngFor="let tl of art.genres">
                      {{tl}}
                    </li>
                  </ul>
                </div>
              
              </div>
      
    </div>
    
</div>
